# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 70664f164ee88fdd71a58df70ded0a870c0c98948bfcabc1ddcf33b44f695ed6e33755a2498d3545a651d584c4b51033b905e22b59387962081a83191b698ff2

test:
  secret_key_base: a65ac76c4e99ffb66e0f6f7dac918e91b399369478addf3eb33af3a2aade8aa89cb1d3b959ef50a836675decc487a2156329c0642aef234e2eb9d1c7bf98f3bd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
